body{
    padding: 0;
    background: url("https://revistas.unne.edu.ar/public/site/background/backgroundSite03.jpg");
    background-size: cover;
}
h1{
    color: white;
}

.userInfo{
    color: white;
}

.buttonFind{
    padding-bottom: 34px;
    padding-left: 99px;
}
.navigationBar{
    display: inherit;
    margin-right: 100px;
}


.cardHead{
    padding-left: 65px;
    font-size: 23px;
}
.cont{
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
    padding: 107px 0 0 299px;
}

.card{
    background: seashell !important;
    font-size: 23px;
}

/*
#logout{
    position: relative;
    left: 450px;
    bottom: -9px;
}*/
